.optionContainer{
    /*background: #bdbdbd;*/
    white-space: pre-line;
    border-right: 4px solid green;
    overflow: hidden;
    margin-right: 10px;
    padding-right: 8px;
}

.optionContainer .question{
    width: 70%;
    float: right;
    /*text-align: right;*/
}

.optionContainer .options{
    width: 70%;
    /*position: absolute;*/
    /*right: 0;*/
    /*background: bisque;*/
    clear: both;
    float: right;
}

.options p span{
    display: inline-block;
    background: goldenrod;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    margin-right: 10px;
    color: white;
}
